checkpoints/
ucf24/
trash/labels
trash/rgb-images
trash/video
trash/videos
trash/video_detect
trash/data_raw


results/
weights/


*.pt
*.pth
*.pkl
*.pyc
*.avi
*.jpg

*.zip
github.sh
__pycache__
det_results
.vscode
