checkpoints/
ucf24/
trash/labels
trash/rgb-images
trash/video
trash/videos
trash/video_detect
trash/data_raw


results/
weights/
logs/

*.pt
*.pth
*.pkl
*.pyc
*.avi
*.jpg
*.mp4
*.txt
*.zip


d.jpg
deteciion.avi

__pycache__
det_results
.vscode
