checkpoints/
ucf24/
trash/labels
trash/rgb-images
trash/video
trash/videos
trash/video_detect

video_test/
results/
weights/


*.pt
*.pth
*.pkl
*.pyc
*.avi
*.jpg
*.png
*.txt
github.sh
__pycache__
det_results
.vscode
