torch
torchvision
opencv-python
thop
scipy
matplotlib
numpy
imageio
# tensorflow
# ultralytics
scikit-image==0.21.0
uvicorn==0.30.0
pillow==10.4.0
requests==2.23.0
pytz==2019.3
minio==7.2.4
# tritonclient[all]
scikit-learn
environs==11.0.0
fastapi==0.111.0
# onnxruntime==1.18.1
pymongo==4.9.1
tensorflow==2.17.0